<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    User findById(Integer id);

    List<User> findAll();

    void updateUser(User user);

    void insertUser(User user);

    void deleteById(Integer id);-->
<mapper namespace="com.example.papersys.mapper.UserMapper">
    <resultMap id="userMap" type="com.example.papersys.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="description" column="description"/>
    </resultMap>

    <select id="findById" parameterType="java.lang.Integer" resultType="com.example.papersys.entity.User">
        SELECT * FROM t_user WHERE id=#{id}
    </select>

    <select id="findAll" resultMap="userMap">
        SELECT * FROM t_user
    </select>

    <delete id="deleteById" >
        DELETE FROM t_user WHERE id=#{id};
    </delete>


</mapper>