<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-if="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>v-bind</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
    <div id="app">
        {{message}}
        <span v-bind:title="message">hello</span>

        <h3 v-if="ok">yes</h3>
        <h3 v-else="ok">no</h3>
    </div>

<script>
    var vm = new Vue({
        el: "#app",
        data: {
            message: "Hello Vue",
            ok: true,
        },
        methods: {

        }
    })
</script>
</body>
</html>