<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script>
    // 1. 定义变量： 变量类型 变量名 = 变量值;
    var num = 1;
    var name = "jordan";
    var age = 12;
    alert(num);
    // 2. 条件控制
    if(2>1){
        alert("true");
    }

    /*
    * 在浏览器控制台打印变量;相当于Java的sout
    **/

    console.log(num);

</script>
</body>
</html>
</body>
</html>